/* ==========================================================================
   COMPONENTS/_LOCATIONS.SCSS
   ========================================================================== */

.city {
	text-align: center;
	margin-bottom: 25%;

	&:nth-child(5) { margin-bottom: 40px; }

	.location { margin-bottom: $space*4; }
	.caption { margin-top: $space; }

	.disclaimer {
		font-size: 1em;
		margin-top: $space*4;
	}

	> div { margin: 10% auto; }

	address,
	.contained-within {
		font-size: 1.6em;
		font-style: normal;
		margin-bottom: $space-half;
	}

	.tel {
		display: block;
		font-size: 1.4em;
		font-weight: 300;

		a {
			color: $bronze;
			text-decoration: none;
		}
	}

	 p {
		 font-size: 1.4em;
		 margin-top: $space;
	 }

	 .btn { margin-top: 50px; }
}


@media screen and (min-width: $bp-med) {
	.food-hero .owl-carousel.locations { margin-top: 5%; }
}


@media screen and (min-width: $bp-large) {
	.city {
		margin-bottom: 13%;

		> div { margin: 5% auto;}

		address,
		.contained-within {
			font-size: 2.4em;
		}

		.tel { font-size: 1.6em; }

		.location-group {
			display: flex;
			padding: 0 2.5%;

			.quarter {
				padding: 0 2.5%;
				width: 25%;
			}
		}

	 	p { font-size: 1.6em; }

	}
}
