/* ==========================================================================
   COMPONENTS/_OFFERINGS.SCSS
   ========================================================================== */


// Hero
.food-hero {
	margin: 120px auto 60px;
	text-align: center;

	.h1 { text-transform: uppercase; }
	.intro { margin-top: $space; }
	.standard { padding: 0 5%; }
	.owl-carousel { margin-top: -17px; }
}


.foods {
	.accent-header { display: none; }

	.type {
		margin-bottom: 25%;

		&.breakfast { background-position: 70% top; }
		&.pizza { background-position: right top; }

		.copy {
			background-color: $white;
			text-align: center;

			.caption {
				margin-bottom: 0;
				padding: $space 0 $space*3 0;
			}
		}

		.mask {
			display: block;
			width: 100vw;

			&.transition {
				border-left-width: 0;
				border-right-width: 0;
				height: 100vh;
			}
		}
	}
}


.plus-box {
	margin-top: -20px;
	left: calc(50% - 20px);
	position: absolute;
}


@media screen and (max-width: $bp-med) {
	.foods {
		.type {
			background-position: bottom right;
			background-size: auto 100vh;
			transition: background-position 1s ease-out;

			&.center-background { background-position: bottom center; }
		}

		.mask {
			border-right: 5vw solid $white;
			border-left: 5vw solid $white;
			height: 250px;
			transition:
				height .5s ease-out,
				border-left-width .5s ease-out,
				border-right-width .5s ease-out;

			&.portrait {
				border-right: 20vw solid $white;
				border-left: 20vw solid $white;
				height: 350px;
			}
		}
	}
}


@media screen and (min-width: $bp-med) {
	.food-hero {
		padding-top: 4%;
		padding-bottom: 4%;

		.standard {
			text-align: left;
			margin: $space*4 0 $space 5%;
			max-width: 37.5%;
			padding: 0;
		}
	}

	.foods {
		.type {
			align-items: center;
			background-position: center center;
			background-size: cover;
			display: flex;
			margin-bottom: 10%;
			transition:
				height 1s ease-out,
				margin-bottom 1s ease-out, 
				transform 1s ease-out;
			height: 500px;

			.copy {
				background-color: $white;
				height: 100%;
				order: 1;
				padding-left: 10%;
				position: relative;
				text-align: left;
				transition: transform 250ms ease-out;
				width: 50%;

				> div {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			.mask {
				background-color: $white;
				border-left-width: 0;
				border-bottom-width: 0;
				border-top-width: 0;
				border-right-width: 5vw;
				border-color: $white;
				border-style: solid;
				order: 2;
				position: relative;
				height: 100%;
				transition: background-color 500ms ease-out;
				width: 50%;

				&.reveal { background-color: rgba(152,105,76,0); }
				&:hover { background-color: rgba(152,105,76,0.65); }
				&.no-hover { background-color: rgba(152,105,76,0) !important; }

				.plus-box {
					left: 0;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
				}

				&.edge { border-right-width: 0; }
			}

			&.portrait {
				height: 700px;

				&.center-background {
					border-left-width: 0;

					.copy { transform: translateX(100%); }

					.mask {
						border-right-width: 0;
						border-left-width: 0;

						.plus-box { left: 210%; }
					}
				}
			}

			&:nth-child(even) {
				.copy {
					order: 2;
					padding-left: 0;
					height: 100%;
				}

				.mask {
					order: 1;
					border-left: 0;
					border-right-width: 10vw;

					&.portrait {
						border-left-width: 5vw;
						height: 700px;

						&.edge { border-left-width: 0; }

						.plus-box { left: 100%; }
					}
				}
			}

			&.center-background {
				height: 100vh;
				margin-bottom: 0;

				.copy { transform: translateX(-100%); }
				.mask {
					.plus-box { left: -110%; }
				}

				&:nth-child(even).portrait {
					.copy { transform: translateX(100%); }
					.mask .plus-box { left: 210%; }
				}
			}

		} // .type
	}
}


@media screen and (min-width: $bp-large) {
	.food-hero .owl-carousel { margin-top: -40px; }
}


@media screen and (min-width: $bp-large-2) {
	.food-hero .owl-carousel { margin-top: -52px; }
}


@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
	@media screen and (min-width: $bp-large-2) {
		.foods {
			.type {
				&:nth-child(odd) .copy {
					.caption { @include parallax(.1); }
				}
				&:nth-child(even) .copy {
					.caption { @include parallax(.1); }
				}
			}

			.accent-header {
				@include parallax(.25);
				display: block;
				opacity: 1;
				position: absolute;
				top: 0;
				transition: opacity 250ms ease-out;
				z-index: 1 !important;

				&.left { left: 25%; }
				&.right { left: 45%; }
				&.one { top: 14%; }
				&.two { top: 73%; }
				&.three { top: 89%; }
				&.hide { opacity: 0; }
			}
		}
	}
}
