ul {
	margin-left: 20px;
	padding: 0;
}

.menu {
	background-color: white;
	border: 1px solid black;
	display: none;
	left: 0;
	padding: 20px;
	position: absolute;
	width: 100%;
}
	.menu.active {
		display: block;
	}

.trigger {
	display: inline-block;
}
	.trigger img {
		width: 30px;
	}

@media only all and (min-width: 700px) {
	.menu {
		display: block;
	}
}
