/* ==========================================================================
   COMPONENTS/_CTA.SCSS
   ========================================================================== */

.bottom-cta {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;


	&.rocco-cta { background-image: url(/_ui/img/global/princi-nav-rocco-1.jpg); }
	&.offerings-cta { background-image: url(/_ui/img/global/princi-nav-offerings-1.jpg); }
	&.locations-cta { background-image: url(/_ui/img/global/princi-nav-locations-1.jpg); }
}

.bottom-cta-link {
	display: block;
	height: 100vh;
	opacity: 1;
	position: relative;
	text-align: center;
	transition: background-color .25s ease-out;

	.cta-container {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		width: 100%;
	}

	h2 {
		color: $white;
		font-size: 5em;
		font-weight: 700;
		letter-spacing: 0.10em;
		text-transform: uppercase;
	}

	.btn { margin-top: 70px; }
}


@media screen and (min-width: $bp-large) {
	.bottom-cta-link {
		background-color: $bronze;
		max-height: 560px;

		&:hover,
		&:focus {
			background-color: transparent;
		}

		h2 { font-size: 9.6em; }
	}
}
