/* ==========================================================================
   BASE/_LAYOUT.SCSS
   ========================================================================== */

.new-results-div {
	height: 100%;
	opacity: 1;
	// position: relative;
	transition:
		opacity 250ms linear,
		height 250ms linear;
	z-index: 2;

	&.transition-in { height: 100vh; }
	&.transition-out { opacity: 0; }
}

.secondary-results-div {
	left: 0;
	position: fixed;
	top: 0;
	opacity: 0;
	// transition: opacity 250ms linear;
	z-index: 10;

	&.transition-in { opacity: 1; }
}


.js-main { transition: opacity 500ms ease-out; }

footer {
	bottom: 0;
	color: $white;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;

	small {
		display: block;
		font-size: 1.4em;
		font-weight: 300;
		margin: $space 0 $space-double;
	}
}

@media screen and (min-width: $bp-large) {
	html,
	body {
	  height: 100%;
	  width: 100%;
	  overflow: auto;
	}

	body { -webkit-overflow-scrolling: touch; }

	footer {
		.wordmark {
			bottom: $space-double;
			position: absolute;
			left: $space-double;
		}

		small {
			bottom: $space;
			position: absolute;
			font-size: 1.4em;
			margin-bottom: 0;
			right: $space-double;
		}
	}

	.flex {
		align-items: center;
		display: flex;
		margin: 0 10%;

		.half {
			width: 50%;

			&.left { text-align: left; }
			&.right { text-align: right; }
			&.first { order: 1; }
			&.second { order: 2; }
		}
	}
}
