/* ==========================================================================
   BASE/_MEDIA.SCSS
   ========================================================================== */

// Defaults
img, object {
    max-width: 100%;
    height: auto;
}

iframe {
    margin-bottom: $space;
}

figure {
    margin-bottom: $space;
    img {
        margin-bottom: $space-quarter;
    }
}
figcaption {
    font-style: italic;
}


// Custom
video { display: none; }

@media screen and (min-width: $bp-large){
	video {
		display: block;
		left: 0;
		position: fixed;
		top: 0;
		min-height: 100vh;
		min-width: 100vw;
	}

	.video-text {
		height: 85vh;

		img { display: none; }
	}
}
