/* ==========================================================================
   BASE/_UTILITY.SCSS
   ========================================================================== */

// Display
.block { display: block; }
.hide { display: none; }
.visibility-hidden { visibility: hidden; }
.offscreen {
    display: block;
    left: -999999px;
    position: absolute;
    top: -999999px;
}
.bg-white { background-color: $white; }

// Clearfix
.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


// LINES, HRS, BORDERS
.progress {
    background: $bronze;
	bottom: 0;
    display: block;
    height: 4px;
	position: absolute;
    text-align: center;
    transition: width 250ms;
    width: 0;
}

.line {
	display: block;
	height: 100px;
	margin: 10% auto 10%;
	position: relative;
	width: 1px;

	&::before {
		border-left: 1px solid transparent;
		content: '';
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		transition: height 750ms ease-out;
	}

	&.draw::before {
		border-left-color: $bronze;
		height: 100px;
	}
}

.page-not-found #content {
	> div {
		position: absolute;
		text-align: center;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);

		.large-underline { margin-bottom: $space-half; }
	}
}

@media screen and (min-width: $bp-large) {
	.progress { height: 8px; }

	.line {
		height: 200px;
		margin: 2% auto;

		&.draw::before { height: 200px; }
	}
}
