/* ==========================================================================
   BASE/_BUTTONS.SCSS
   ========================================================================== */

// Reset button font size to match default
button {
    font-size: 1em;
}

.btn {
    color: $bronze;
    cursor: pointer;
    display: inline-block;
	font-size: 1.6em;
    padding: $space $space-and-half 0.8em;
    text-align: center;
    transition: color 0.25s;

  	// Required, since we're setting absolute on pseudo-elements
  	position: relative;
  	vertical-align: middle;

	.lead-line {
		display: block;
		height: 50px;
		margin: -65px auto 1em;
		position: relative;
		width: 1px;

		&::before {
			border-left: 1px solid transparent;
			content: '';
			height: 0;
			left: 0;
			position: absolute;
			transition: height 0.25s ease-out;
			width: 100%;
		}
	}

	.fill {
		background-color: $bronze;
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		transition: height .25s ease-out;
		width: 100%;
		z-index: -1;
	}

	.text { position: relative; }

  	&::before,
  	&::after {
    	box-sizing: inherit;
    	content: '';
    	position: absolute;
    	width: 100%;
    	height: 100%;

    	// Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    	border: 1px solid transparent;
    	width: 0;
    	height: 0;
  	}

  	// This covers the top & right borders (expands right, then down)
  	&::before {
    	top: 0;
    	left: 0;
  	}

  	// And this the bottom & left borders (expands left, then up)
  	&::after {
    	bottom: 0;
    	right: 0;
  	}


  	// Draw styles
  	&.draw {
		color: $bronze;

		.lead-line::before {
	    	border-left-color: $bronze;
			height: 100%;
		}

	  	&::before,
	  	&::after {
	    	width: 100%;
	    	height: 100%;
	  	}

	  	&::before {
	    	border-top-color: $bronze; // Make borders visible
	    	border-right-color: $bronze;
	    	transition:
	      	width 0.25s ease-out 0.25s, // Width expands first
	      	height 0.25s ease-out 0.5s; // And then height
	  	}

	  	&::after {
	    	border-bottom-color: $bronze; // Make borders visible
	    	border-left-color: $bronze;
	    	transition:
	      	border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
	      	width 0.25s ease-out 0.5s, // And then exanding width
	      	height 0.25s ease-out 0.75s; // And finally height
	  	}

		// Hover styles
		&:hover {
			color: $white;

			.fill { height: 100%; }
		}

	}


	// Alternate Color
	&.alt {
	    color: $white;

		.fill { background-color: $white; }

  		&.draw {
			color: $white;

			.lead-line::before { border-left-color: $white; }

		  	&::before {
		    	border-top-color: $white; // Make borders visible
		    	border-right-color: $white;
		  	}

		  	&::after {
		    	border-bottom-color: $white; // Make borders visible
		    	border-left-color: $white;
			}

			// Hover styles
			&:hover { color: $bronze; }

		}
	}
}
