/* ==========================================================================
   BASE/_TYPOGRAPHY.SCSS
   ========================================================================== */

body {
    font-family: $futura;
    font-size: 62.5%;
}

// Headings
h1, .h1   {
    line-height: 1.2;
	font-weight: 500;
}

h2, .h2    {
    line-height: 1.2;
	font-weight: 500;
}

h3, .h3   {
    line-height: 1.2;
}



// Subheadings
.subheading {
    font-weight: normal;
}


// Paragraphs
p {
    margin-bottom: $space;
}


// Blockquote
blockquote {
	color: $bronze;
	font-family: $didot;
	letter-spacing: 0.025em;
	margin: 0 auto;
	max-width: 75%;
	padding: 0;
	text-align: center;
	text-transform: uppercase;

	.line {
		display: block;
		height: 75px;
		margin: 0 auto 10%;
		position: relative;
		width: 1px;

		&::before {
			border-left: 1px solid transparent;
			content: '';
			height: 0;
			left: 0;
			position: absolute;
			top: 0;
			transition: height .5s ease-out;
		}

		&.draw::before {
			border-left-color: $bronze;
			height: 75px;
		}
	}

	p {
		font-size: 2.4em;
		line-height: 1.25em;
	}

	cite {
		font-family: $tradegothic;
		font-size: 1.4em;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-style: normal;
	}
}


// Others
abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}

@media screen and (min-width: $bp-large) {
	blockquote {
		max-width: 60%;

		p {
			font-size: 7.2em;
			margin-bottom: $space-quarter;
		}

		.line {
			height: 100px;
			margin-bottom: $space*4;

			&.draw::before { height: 100px; }
		}

		cite { font-size: 1.4em; }
	}
}
