/* ==========================================================================
   BASE/_UTILITY.SCSS
   ========================================================================== */

// Display
.block { display: block; }
.hide { display: none; }
.visibility-hidden { visibility: hidden; }
.offscreen {
    display: block;
    left: -999999px;
    position: absolute;
    top: -999999px;
}
.bg-white { background-color: $white; }

// Clearfix
.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


// LINES, HRS, BORDERS
.hr {
    border-top: 1px solid $gray;
    display: block;

    hr {
        display: none;
    }
}

.line {
	display: block;
	height: 100px;
	margin: 0 auto 10%;
	position: relative;
	width: 1px;

	&::before {
		border-left: 1px solid transparent;
		content: '';
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		transition: height 750ms ease-out;
	}

	&.draw::before {
		border-left-color: $bronze;
		height: 100px;
	}
}

@media screen and (min-width: $bp-large) {
	.line {
		height: 200px;
		margin-bottom: 2%;

		&.draw::before { height: 200px; }
	}
}
