/* ==========================================================================
   COMPONENTS/_CTA.SCSS
   ========================================================================== */


.large-cta {
	background: $beige;
	display: block;
}

.cta-home {
	p {
		color: $bronze;
		font-size: 4.8em;
	}
}
