/* ==========================================================================
   COMPONENTS/_FOOD-DETAILS.SCSS
   ========================================================================== */

.food-type {
	// background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
	z-index: 3;
}

.food-details {
	background-color: $bronze;
	color: $white;
	height: 60vh;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	left: 0;
	width: 100vw;

	&::-webkit-scrollbar { display: none; }

	&.active { bottom: 0; }

	#cross {
		color: $white;
		display: block;
		font-size: 2em;
		height: 25px;
		position: absolute;
		right: $space;
		top: $space;
		width: 25px;

    	&::before {
			background: $white;
			height: 80%;
		}
		&::after {
			background: $white;
    		width: 80%;
		}
	}

	> div {
		margin: 75px auto;
		max-width: 90vw;
	}

	h1 {
		font-size: 3.2em;
		letter-spacing: 0.1em;
		margin-bottom: $space-half;
		text-align: center;
		text-transform: uppercase;
	}

	h2 {
		font-family: $tradegothic;
		font-size: 1.4em;
		letter-spacing: 0.05em;
		margin-bottom: $space*3;
		text-align: center;
		text-transform: uppercase;
	}

	.intro {
		font-size: 2.4em;
		letter-spacing: 0.015em;
	}

	dl {
		font-size: 1.4em;

		dt { font-weight: 500; }

		dd {
			font-weight: 300;
			margin-bottom: $space-double;

			&:last-of-type { margin-bottom: 0; }
		}
	}
}


@media screen and (max-width: $bp-large) {
	.food-type {
		transform: translateY(100%);
		transition: transform .5s ease-in-out;

		&.active { transform: translateY(0); }
	}

	.food-details {
		transform: translateY(100%);
		transition: transform .5s ease-in-out;

		&.active { transform: translateY(0); }
	}
}


@media screen and (min-width: $bp-large) {
	.food-type {
		transform: translateX(-100%);
		transition: transform .5s ease-in-out;

		&.active { transform: translateX(0); }
	}

	.food-details {
		top: 0;
		height: 100vh;
		left: 0;
		overflow-y: auto;
		transform: translateX(-100%);
		transition: transform .5s ease-in-out;
		width: 50vw;

		&.active { transform: translateX(0); }

		> div {
			margin: 75px auto;
			max-width: 70%;
		}

		h1 {
			font-size: 6em;
			margin-bottom: $space-quarter;
		}

		.intro {
			font-size: 3.6em;
		}

		dl {
			font-size: 1.6em;

			padding-left: 7%;
			position: relative;

			&::before {
				background-color: $white;
				content: '';
				display: block;
				height: 0;
				position: absolute;
				left: 0;
				transition: height 500ms ease-out;
				transition-delay: 500ms;
				width: 1px;
			}

			&.draw::before { height: 100%; }

			dt { margin-bottom: $space-quarter; }
		}
	}
}
