/* ==========================================================================
   COMPONENTS/_HERITAGE.SCSS
   ========================================================================== */


#heritage-hero {
	color: $bronze;
	margin: 70px auto;
	padding-top: 70px;
	width: 90%;

	h2 {
		font-size: 5.4em;
		letter-spacing: 0.10em;
		padding-bottom: 30px;
		text-align: center;
		text-transform: uppercase;
	}

	p {
		font-size: 1.6em;
		line-height: 1.499em;
		margin-bottom: $space*3.5;
	}

	.img {
		margin: 0 auto;
		max-width: 65%;
	}
}

.split-pic {
	color: $bronze;
	padding: 25% 5%;

	.copy {
		h2 {
			font-size: 2.4em;
			letter-spacing: 0.015em;
			margin-bottom: $space;
		}

		p {
			font-size: 1.6em;
			font-weight: 300;
			font-style: normal;
			line-height: 1.31em;
			letter-spacing: 0.015em;
			margin-bottom: $space-double;
		}
	}

	.img { margin-bottom: $space-double; }
}


@media screen and (min-width: $bp-large) {
	#heritage-hero {
		align-items: center;
		display: flex;
		margin: 70px auto 120px;
		padding: 70px 5% 0;
		position: relative;
		width: 100%;

		.copy {
			width: 50%;

			h2 {
				font-size: 9.6em;
				letter-spacing: 0.1em;
				position: absolute;
				text-align: left;
				top: 20%;
				left: 16%;
			}

			p {
				border-left: 1px solid $bronze;
				font-size: 2.4em;
				margin-top: 25%;
				padding-left: $space-double;
			}
		}

		.img {
			text-align: right;
			margin-right: 5%;
			width: 50%;

			img { max-width: 400px; }
		}
	}

	.split-pic {
		align-items: center;
		display: flex;

		.copy {
			border-left: 1px solid $bronze;
			padding-left: $space*3;
			width: 33%;

			h2 { font-size: 3.6em; }
			p { margin-bottom: 0; }
		}

		.img {
			padding-left: 7%;
			max-width: 60%;
			position: absolute;
			right: 0;

			&.portrait {
				right: 10%;
				max-width: 45%;
			}
		}

		&.flip {
			.copy {	margin-left: 67%; }

			.img {
				left: 0;
				order: 1;
				padding-left: 0;
				max-width: 56%;
			}
		}
	}

	#pursuit { margin: 10% 0; }
}
