/* ==========================================================================
   COMPONENTS/_IMAGE-TRANSITION.SCSS
   ========================================================================== */

.new-results-div {
	background-color: transparent;
	opacity: 1;
	height: 100%;
	transition: opacity 250ms linear, height 250ms linear;
	z-index: 2;

	&.transition-in { height: 100vh; }
}

.secondary-results-div {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 1;
}

.image-transition {
	background-color: pink;
	position: relative;

	.img-link {
		display: block;
		height: 200px;
		left: 0;
		position: absolute;
		top: 0;
		width: 200px;
		transition:
			height 500ms linear,
			width 500ms linear,
			top 500ms linear,
			left 500ms linear;


		&.transition-in {
			height: 100vh;
			left: 0;
			width: 100vw;
		}

		.mask {
			height: 100%;
			width: 100%;

			.img {
				background-attachment: fixed;
				background-size: cover;
				background-position: top left;
				height: 100%;
				width: 100%;
			}
		}
	}
}
