/* ==========================================================================
   COMPONENTS/_OFFERINGS.SCSS
   ========================================================================== */

.secondary-results-div {
	left: 0;
	position: fixed;
	top: 0;
	z-index: 1;
}


// Hero
.food-hero {
	color: $bronze;
	margin: 120px auto;
	text-align: center;

	h1 {
		font-size: 5em;
		letter-spacing: 0.10em;
		padding-bottom: 30px;
		text-transform: uppercase;
	}

	p {
		font-size: 3em;
		line-height: 1.499em;
		margin-top: $space;

		&.small {
			font-family: $tradegothic;
			font-size: 1.4em;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
	}

	.line {
		display: block;
		height: 100px;
		margin: 0 auto 10%;
		position: relative;
		width: 1px;

		&::before {
			border-left: 1px solid transparent;
			content: '';
			height: 0;
			left: 0;
			position: absolute;
			top: 0;
			transition: height .5s ease-out;
		}

		&.draw::before {
			border-left-color: $bronze;
			height: 100px;
		}
	}

}


.foods {
	color: $bronze;

	.type {
		background-position: bottom right;
		background-size: cover;
		margin-bottom: 25%;
		transition: background-position .5s ease-out;

		&.center-background { background-position: center center; }
		&.pastries { background-position: -350px 100%; }
		&.breakfast { background-position: 545px 0; }

		.copy {
			background-color: $white;
			text-align: center;

			.name {
				font-size: 3.2em;
				text-transform: uppercase;
				letter-spacing: 0.10em;
			}

			.caption {
				margin-bottom: 0;
				padding-bottom: $space*3;
			}
		}

		.mask {
			// background-color: $white;
			border-right: 5vw solid $white;
			border-left: 5vw solid $white;
			display: block;
			height: 250px;
			transition:
				height .5s ease-out,
				border-left-width .5s ease-out,
				border-right-width .5s ease-out;
			width: 100%;

			// clip-path: polygon(0% 0%, 0% 100%, 6% 100%, 5% 5%, 95% 5%, 95% 95%, 5% 95%, 0 100%, 100% 100%, 100% 0%);
			&.transition {
				border-left-width: 0;
				border-right-width: 0;
				height: 100vh;
			}

			&.portrait {
				border-right: 20vw solid $white;
				border-left: 20vw solid $white;
				height: 350px;
			}

			&:hover,
			&:focus {
				.plus-box {
					background-color: $white;
					border: 1px solid $bronze;

					.vertical,
					.horizontal {
						&::before,
						&::after {
							background-color: $bronze;
						}
					}
				}
			}
		}
	}
}


.plus-box {
	margin-top: -20px;
	left: calc(50% - 20px);
	position: absolute;
}


@media screen and (min-width: $bp-large) {
	.food-hero {
		padding-top: 4%;
		padding-bottom: 4%;

		h1 { font-size: 9.6em; }

		.line {
			margin-top: 0;
			margin-bottom: 5%;
		}


		p {
			font-size: 4.8em;

			&.top { padding-bottom: 5%; }
			&.bottom {
				padding: 5% 0 0;
			}
		}
	}

	.foods {
		.type {
			align-items: center;
			display: flex;
			margin-bottom: 10%;

			.copy {
				background-color: $white;
				height: 500px;
				padding-left: 5%;
				position: relative;
				text-align: left;
				width: 50%;

				> div {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}

				.name {
					color: $bronze;
					font-size: 6em;
					letter-spacing: 0.10em;
				}
			}

			.mask {
				border-left: 0;
				border-right: 5vw solid $white;
				position: relative;
				height: 500px;
				width: 50%;

				&.edge { border-right: none; }

				.plus-box {
					left: 0;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
				}
			}

			&:nth-child(even) {
				.copy {
					order: 2;
					padding-left: 0;
					height: 700px;
				}

				.mask {
					border-left: 0;
					border-right: 10vw solid $white;

					&.portrait {
						border-left: 5vw solid $white;
						height: 700px;

						&.edge { border-left: none; }

						.plus-box { left: 100%; }
					}
				}
			}

		} // .type
	}
}
