/* ==========================================================================
   COMPONENTS/_PARALLAX-HOMEPAGE.SCSS
   ========================================================================== */

@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
	@media screen and (min-width: $bp-large) and (min-height: 700px) {
		.parallax::before {
			content: 'true';
			display: block;
			height: 0;
			width: 0;
			visibility: hidden;
		}

		header {
			.mobile-grouping {
				transform-style: flat;
				position: initial;
			}
		}

		@include parallax-init;

		#intro {
			height: 800px;
			background-color: transparent;
			z-index: 2;

			.intro-container {
				background-color: transparent;

				.headline {
					@include parallax(-.15);
					background-color: $white;
					// height: 95%;
					// margin-top: -30px;

					h2 {
						// font-size: 17em;
						// height: 100%;

						span {
							&:first-child { top: 200px; }
							&:last-child { top: 950px; }
						}
					}
				}

				.hero {
					@include parallax(-.05);
					// top: 360px;
					// height: 655px;
				}
			}

		}

		#intro-video-group {
			@include parallax(-.15);
			margin-top: 275px;
			// padding-bottom: 7.5%;
			padding-top: 15%;
			z-index: 1;
			// overflow-x: hidden;
		}

		.video-text {
			@include parallax(-.25);

			#inline-video {
				@include parallax(-.5);
			}
			//
			// h2 { @include parallax(-.1); }
		}

		#cta-group {
			padding-top: 10%;
			z-index: 2;

			.cta-home { transform-style: flat; }
		}
	} // Viewport size


	@media screen and (min-width: $bp-large) and (min-height: 1000px) {
		#intro-video-group {
			.video-text h2 { font-size: 9.6em; }
		}
	}
} // Feature detection
