/* ==========================================================================
   COMPONENTS/_PARALLAX-HOMEPAGE.SCSS
   ========================================================================== */

@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
	@media screen and (min-width: $bp-large) and (min-height: 700px) {
		.parallax::before {
			content: 'true';
			display: block;
			height: 0;
			width: 0;
			visibility: hidden;
		}

		header {
			.mobile-grouping {
				transform-style: flat;
				position: initial;
			}
		}

		@include parallax-init;

		#intro {
			height: 800px;
			background-color: transparent;
			z-index: 2;

			.intro-container {
				background-color: transparent;

				.headline {
					@include parallax(-.35);
					background-color: $white;
					height: 120%;

					.h1 {
						span {
							&:first-child { top: 230px; }
							&:last-child { top: 950px; }
						}
					}
				}

				.hero { @include parallax(-.05); }
			}

		}

		#intro-video-group {
			@include parallax(-.35);
			margin-top: 440px;
			padding-top: 15%;
			z-index: 1;
		}

		.video-text { @include parallax(-.25); }

		#cta-group {
			padding-top: 18%;
			z-index: 2;

			.cta-home { transform-style: flat; }
		}
	} // Viewport size
} // Feature detection
