/* ==========================================================================
   COMPONENTS/_PARALLAX-ROCCO.SCSS
   ========================================================================== */

@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
	@media screen and (min-width: $bp-large) {

		#heritage-hero {
			padding-bottom: 10%;
		}

		#passion {
			background-color: $white;
			z-index: 2;
		}

	}
}
