/* ==========================================================================
   COMPONENTS/_PARALLAX-HOMEPAGE.SCSS
   ========================================================================== */

@media screen and (min-width: $bp-large-2) and (min-height: 850px) {
	@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
		.parallax::before {
			content: 'true';
			display: block;
			height: 0;
			width: 0;
			visibility: hidden;
		}

		header {
			.mobile-grouping {
				transform-style: flat;
				position: initial;
			}
		}

		@include parallax-init;

		#intro {
			background-color: transparent;

			.intro-container {
				background-color: transparent;

				.headline {
					@include parallax(-.15);
					background-color: $white;
					margin-top: -30px;

					h2 {
						height: 100%;

						span {
							&:first-child { top: 165px; }
						}
					}
				}

				.hero {
					@include parallax(-.05);
					margin-top: 28px;
				}
			}

		}

		#intro-video-group {
			@include parallax(-.15);
			margin-top: 100px;
		}

		#cta-group {
			.cta-home { transform-style: flat; }
		}

	} // Viewport size
} // Feature detection
