/* ==========================================================================
   COMPONENTS/_ROCCO.SCSS
   ========================================================================== */


#heritage-hero {
	background-color: $white;
	color: $bronze;
	// margin-bottom: 100vh;
	padding: 120px 5% 10%;
	position: relative;
	width: 100%;

	.copy {
		position: relative;
		text-align: center;
		z-index: 4;
	}

	h1 {
		font-size: 5.4em;
		letter-spacing: 0.10em;
		padding-bottom: $space-quarter;
		text-transform: uppercase;
	}

	.line { margin-top: 330px; }

	.intro {
		font-size: 2.8em;
		line-height: 1.499em;
		margin-top: 0;
		text-align: center;
	}

	.img {
		// margin: 0 auto;
		max-width: 100%;
		position: absolute;
		// top: 160px;
		top: 320px;
		right: 0;
		z-index: 1;
	}
}

.split-pic {
	background-color: $white;
	color: $bronze;
	display: block;
	padding: 18% 5%;
	width: 100%;
	height: auto;
	z-index: 100;

	&:nth-child(5) { padding-bottom: 5%; }
	&:nth-child(6) { padding-top: 0; }

	h2 {
		font-size: 2.4em;
		letter-spacing: 0.015em;
		margin-bottom: $space;

		span { border-bottom: 1px solid $bronze; }
	}

	.copy {

		p {
			font-size: 1.6em;
			font-weight: 300;
			font-style: normal;
			line-height: 1.31em;
			letter-spacing: 0.015em;
			margin-bottom: $space-double;
		}
	}

	.img { margin-bottom: $space-double; }
	.caption { padding-top: $space; }
}

.owl-carousel { background-color: $white; }

.rocco-princi .bg-white .line { margin-bottom: 0; }

@media screen and (min-width: $bp-large) {
	#heritage-hero {
		align-items: center;
		display: flex;
		margin: 0 auto 120px;
		padding: 120px 5% 0;
		position: relative;
		width: 100%;

		.copy {
			h1 {
				font-size: 9.6em;
				letter-spacing: 0.1em;
				text-align: left;
				width: 50vw;
				z-index: 5;
			}

			.intro {
				font-size: 4.8em;
				line-height: 1.499em;
				margin: 100px auto 0;
				text-align: center;
				width: 70%;
			}

			.caption {
				text-align: left;

				span {
					display: block;
					margin-bottom: $space;
				}
			}

			p {
				font-size: 2.4em;
				margin-top: 0;
			}
		}

		.img {
			text-align: right;
			margin-right: 0;
			max-width: 100%;
			top: 190px;
			width: 75%;
			z-index: -1;

			img {  }
		}
	}

	.split-pic {
		align-items: center;
		display: flex;
		padding: 18% 5% 10%;

		h2 {
			font-size: 8.4em;
			position: absolute;
			top: 10%;
			left: 30%;
			max-width: 40%;
			text-align: center;
			z-index: 2;
		}

		.copy {
			order: 1;
			margin-right: 10%;
			width: 50%;

			p {
				font-size: 1.8em;
				line-height: 1.6em;
				margin-bottom: 0;
			}
		}

		.img {
			order: 2;
			// margin-top: -10%;
			max-width: 40%;
		}

		&.flip {
			.copy {
				order: 2;
				margin-left: 10%;
				margin-right: 0;
			}

			.img {
				order: 1;
				margin-top: 15%;

				&.edge {
					margin: 15% 0 0 -6%;

					img { max-width: 133%; }
					.caption { margin-left: 15%; }
				}
			}
		}

		&:nth-child(6) { padding-top: 18%; }

		&#pursuit {
			.copy {
				margin: 30% 0 0 20%;
				max-width: 40%;
			}
		}
	}
}
